html {
 box-sizing: border-box;
}

html, body {
	width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  
}


body {
	background: #f1f2df;
	color: #c04d25;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

h1 {
font-family: 'Handlee', cursive;	
	text-shadow: 1px 1px 0px #000;
	font-size: 48px;
	margin: 0;
	padding: 0;
}

h2 {
	font-weigtt: 800;
	font-style: italic;
}

h5 {
	background: #e5e2c7;
	padding: 6px;
}

div {
	background: #f9f9f0;
	border: 1px solid #c04d25;;
}

a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	
}

a:hover, .hover {
	color: black
}

a:visited, .visited {
	color: gray;
}

.container {
	padding: 16px;
	margin: 5vh auto;
	border-radius: 3px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
	width: 5%;
	max-width: 800px;
	min-width: 300px;
}

.box {
	width: 20%;
	min-width: 300px;
	padding: 6px;
}
